body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../img/index_admin.jpg') no-repeat center center fixed;
    background-size: cover; 
    color: rgb(246, 241, 241); 
}

.container {
    width: 80%;
    margin: 155px auto; 
    background-color: rgba(19, 18, 18, 0.945); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.782); 
    text-align: center; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px; 
    text-align: left;
    border-bottom: 1px solid #efeeee2d;
    transition: background-color 0.3s; 
}

th {
    background-color: #feb202; 
    color: #101010; 
    text-transform: uppercase; 
}

th:first-child, td:first-child {
    font-weight: bold;
}

th:last-child, td:last-child {
    text-align: center;
}

#regresar {
    position: absolute;
    top: 40px;
    left: 20px;
    padding: 10px 20px; 
    z-index: 3; 
    background: rgb(245, 190, 11);
    font-size: 18px; 
    border-radius: 30px; 
    font-weight: 600;
}

#regresar:hover {
    background-color: rgba(245, 190, 11); 
    color: white; 
}

.registrar {
    position: absolute;
    top: 40px;
    left: 180px;
    padding: 10px 20px; 
    z-index: 3; 
    background: rgb(245, 190, 11);
    font-size: 18px; 
    border-radius: 30px; 
    font-weight: 600;
}

.registrar:hover {
    background-color: rgba(245, 190, 11); 
    color: white; 
}

.estado_ {
    background-color: green;
    color: white;
    font-weight: bold;
}
   
.estado_red {
    background-color: red;
    color: white;
    font-weight: bold;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

