body {
  background-image: url("../img/index_usu.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:  rgb(245, 190, 11);
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  display: block;
  justify-content: center;
  padding: 20px 0; /* Ajusta el valor vertical según sea necesario */
}

.menu a {
  display: inline-block;
  color: rgb(6, 6, 6);
  font-size: 20px;
  text-decoration: none;
  margin: 0 10px; /* Ajusta el espaciado entre botones */
  padding: 5px 30px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s; /* Añade una transición suave */
}

.menu a:hover {
  background-color: whit; /* Cambia el color de fondo al pasar el cursor */
  background-color: rgba(66, 64, 64, 0.437); /* Cambia el color de fondo al pasar el cursor */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el cursor */
}

#menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.container {
  display: block;
  width: 20%;
  margin-top: 2%;
  opacity: .8;
  border-radius: 2em;
}

.sidebar {
  height: 25em;
  width: 50%;
  background-color: #080808;
  color:White;
  font-size: 200%;
  padding: 100px;
}

#cerrar_sesion {
  border-radius: 2em;
  background: rgb(245, 190, 11);
  padding: 8px;
  font-size: 20px;
  transition: box-shadow 0.5s; /* Agrega una transición suave al cambio de sombra */
}

#cerrar_sesion:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Cambia la sombra cuando se pasa el cursor sobre el botón */
  background-color: white;
}

h4{
  margin-top: 70%;
  padding: 5%;
}
.sidebar p{
  padding: 10%;
  
}
h4:hover, .sidebar p:hover {
  border: solid 1px white;
  padding: 10%;
  border-radius: 4px;

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Cambia la sombra cuando se pasa el cursor sobre el botón */
}

  /* Estilos para el carrusel */
  .carrusel {
    opacity: .9;
    position: fixed;
    right: 5%;
    top: 55%;
    transform: translateY(-50%) scale(1);
    transition: transform 0.3s;
    max-width: 70em;
    width: 45em;
    height: 30em;
    border: 30px solid #080808;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    overflow: hidden;
    background-color: #080808;
    animation: increaseScale 1s infinite alternate; /* Animación constante */
  }
  
  @keyframes increaseScale {
    from {
      transform: translateY(-50%) scale(1); /* Escala inicial */
    }
    to {
      transform: translateY(-50%) scale(1.1); /* Escala aumentada */
    }
  }
  
  .image-box {
    display: flex;
    height: 100%;
    width: 400%;
    justify-content: space-between;
  }
  
  .image-box {
    animation: imgBox 40s linear infinite;
  }
  
  @keyframes imgBox {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -300%;
    }
  }
  
  .image-box:hover {
    animation-play-state: paused;
  }
  
  .image-box .image {
    width: calc(100% - 100px);
    height: 100%;
  }
  
  .image-box img {
    height: 100%;
    width: 90%;
    object-fit: cover;
  }
