body {
  background-image: url("../img/index_usu.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}

.menu-container {
  background-color: black;
  opacity: .9;
  width: 81em;
  margin-top: 0;
  padding: 2%;
  display: flex;
}

.menu-container h4{
  color: wheat;
  font-size: 2em;
  margin: 0 20% 0 5%;
  padding: 1%;
}

.menu-container h4:hover{
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.menu-container a{
  width: 8%;
  color: wheat;
  font-size: 150%;
  text-decoration: none;
}

.menu-container a:hover{
  text-align: center;
  padding-top: 1%;
  background-color: rgb(245, 190, 11);
  color: black;
  border: solid 1px white;
  border-radius: 1em;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); 
}

#cerrar_sesion {
  border-radius: 2em;
  background: rgb(245, 190, 11);
  padding: 5%;
  font-size: 1em;
  transition: box-shadow 0.5s;
  margin-left: 15em;
   /* Agrega una transición suave al cambio de sombra */
}

#cerrar_sesion:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Cambia la sombra cuando se pasa el cursor sobre el botón */
  background-color: white;
}

.sidebar {
  width: 15%;
  height: 16em;
  background-color: #080808;
  opacity: .8;
  color:White;
  font-size: 200%;
  padding: 5% 5% 0.52% 5%;
}

.avatar{
  width: 60%;
  height: 13vh;
  margin-top: 30%;
}

.rangos{
  width: 100%;
  display: inline-block;
}

.rango{
  width: 40%;
  display: inline-block;

}

.rangos p{
  width: 100%;
  display: flex;
}


.sidebar p:hover , .sidebar img:hover{
  border: solid 1px white;
  padding: 5%;
  border-radius: 4px;

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Cambia la sombra cuando se pasa el cursor sobre el botón */
}

  /* Estilos para el carrusel */
  .carrusel {
    opacity: .9;
    position: fixed;
    right: 5%;
    top: 60%;
    transform: translateY(-50%) scale(1);
    transition: transform 0.3s;
    max-width: 50%;
    min-width: 40%;
    width: 42em;
    min-height: 25vh;
    height: 26em;
    border: 30px solid #080808;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    overflow: hidden;
    background-color: #080808;
    animation: increaseScale 1s infinite alternate; /* Animación constante */
  }
  
  @keyframes increaseScale {
    from {
      transform: translateY(-50%) scale(1); /* Escala inicial */
    }
    to {
      transform: translateY(-50%) scale(1.1); /* Escala aumentada */
    }
  }
  
  .image-box {
    display: flex;
    height: 100%;
    width: 400%;
    justify-content: space-between;
  }
  
  .image-box {
    animation: imgBox 40s linear infinite;
  }
  
  @keyframes imgBox {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -300%;
    }
  }
  
  .image-box:hover {
    animation-play-state: paused;
  }
  
  .image-box .image {
    width: calc(100% - 100px);
    height: 100%;
  }
  
  .image-box img {
    height: 100%;
    width: 90%;
    object-fit: cover;
  }
