@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../img/free1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.regresar{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px;
    z-index: 3; /* Para asegurarse de que esté por encima de otros elementos */
    background: rgb(245, 190, 11);
    font-size: 20px;
    border-radius: 90px;
    font-weight: 600;
    margin-top: 40px;
}
.regresar:hover, .ingresar:hover{
    color: white;
    box-shadow: 0 4px 8px rgba(158, 150, 150, 0.534); 
}
.box
{
    position: relative;
    width: 380px;
    height: 420px;
    background: black;
    border-radius: 8px;
    overflow: hidden;
}
.box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent, #efb907,#efb907,#efb907);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent, #efb907,#efb907,#efb907);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine
{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent, #ee160a,#ee160a,#ee160a);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s; 
}
.borderLine::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent, #ee160a,#ee160a,#ee160a);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s; 
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.box form
{
    position: absolute;
    inset: 4px;
    background: black;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2
{
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span
{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: gray;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span 
{
    color: white;
    font-size: 0.75em;
    transform: translateY(-34px);

}
.box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i 
{
    height: 44px;
}
.box form .links
{
    display: flex;
    justify-content: space-between;
}
.links_container
{
    width: 100%;
    display: flex;
}
.links
{
    margin: 0;
    padding: 2%;
    width: 65%;
    font-size: small;
    color: rgb(160, 160, 160);
    text-decoration: none;
}
.links:hover
{
    font-size: medium;
    color: beige;
   
}
.registrarse{
    text-align: right;
    padding: 2%;
    width: 30%;
    font-size: small;
    color: rgb(160, 160, 160);
    text-decoration: none;
}
.registrarse:hover
{
    font-size: medium;
    color: beige;
   
}
.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 5px;
    background: rgb(245, 190, 11);
    cursor: pointer;
    font-size: 20px;
    border-radius: 90px;
    font-weight: 600;
    margin-top: 40px;
}
.ingresar:hover{
    color: white;
    box-shadow: 0 4px 8px rgba(158, 150, 150, 0.534); 
}