body{
    margin: 9;
    background-image: url("../img/victoria.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    display: inline-block;
    font-size: 3em;
    color: rgb(245, 190, 11);
    background-color: rgb(96, 27, 185);
    border-radius: 1em;
    opacity: .8;
    padding: 1%;
}

form {
    display: inline-block;
}

#cerrar_sesion {
    border-radius: 2em;
    background: rgb(245, 190, 11);
    padding: 3%;
    margin-left: 15em;
    font-size: 1em;
    transition: box-shadow 0.5s;
     /* Agrega una transición suave al cambio de sombra */
  }
  
  #cerrar_sesion:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Cambia la sombra cuando se pasa el cursor sobre el botón */
      background-color: white;
      font-size: larger;
      margin-left: 12em;
    }

.container{
    margin: 5%;
    display: flex;
    width: 100%;
    align-items: center;
}
    
h1{
    margin-left: 35%;
}

img{
    width: 20%;
    display: inline-block;
    margin: 2% 10% 0 20%;
}

.table{
    width: 40%;
    height: 10em;
    padding: 10% 0 5% 0;
    display: inline-block;
}

table{
    opacity: .8;
    font-size: larger;
}


th, td {
    background-color: black;
    color: antiquewhite;
    width: 12em;
    padding: 5%;
    font-size: larger;
    border-radius: .5em;
}
th:hover, td:hover{
    background-color: gray;

}